{{ define "month" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thansetan" />
    <meta name="twitter:author" content="@thansetan" />
    <meta
      name="twitter:title"
      content="{{ getMonthName .Month }} {{.Year}} | 💩 Log"
    />
    <meta
      name="twitter:description"
      content="thansetan's poop log of
            {{getMonthName .Month}} {{.Year}}"
    />
    <meta
      name="twitter:image"
      content="https://poop.thansetan.foo/img/poop.png"
    />

    <meta
      property="og:title"
      content="{{ getMonthName .Month }} {{.Year}} | 💩 Log"
    />
    <meta
      property="og:description"
      content="thansetan's poop log of
            {{getMonthName .Month}} {{.Year}}"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://poop.thansetan.foo/{{.Year}}/{{.Month}}"
    />
    <meta
      property="og:image"
      content="https://poop.thansetan.foo/img/poop.png"
    />

    <title>{{ getMonthName .Month }} {{.Year}} | 💩 Log</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💩</text></svg>"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
  </head>
  <body style="max-width: 80vw; margin: 0 auto">
    <header>
      <nav
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        {{ if gt .Year 1 }} {{ if gt .Month 1 }} {{ $prevMonth := add .Month -1
        }}
        <a href="/{{.Year}}/{{ $prevMonth }}">{{ getMonthName $prevMonth }}</a>
        {{ else }}
        <a href="/{{add .Year -1}}/12"
          >{{ getMonthName 12 }} {{add .Year -1}}</a
        >
        {{ end }} {{ else }}
        <span></span>
        {{ end }}
        <h1>{{getMonthName .Month}}</h1>
        {{ if or (lt .Year .CurrentTime.Year) (lt .Month .CurrentTime.Month) }}
        {{ if lt .Month 12 }} {{ $nextMonth := add .Month 1 }}
        <a href="/{{.Year}}/{{ $nextMonth }}">{{ getMonthName $nextMonth }}</a>
        {{ else }}
        <a href="/{{add .Year 1}}/1">{{ getMonthName 1 }} {{add .Year 1}}</a>
        {{ end }} {{ else }} {{ if lt .Month 12 }}
        <span>{{ getMonthName (add .Month 1) }}</span>
        {{ else }}
        <span>{{ getMonthName 1 }} {{add .Year 1}}</span>
        {{ end }} {{ end }}
      </nav>
      <p style="text-align: center; margin: 0">
        Current time:
        <span id="currentTime"
          >{{ .CurrentTime.Format "02 January 2006 15:04:05" }}</span
        >
        GMT+7
      </p>
    </header>
    <main style="text-align: center; min-height: 60vh">
      <div id="poop-log" style="padding: 5px 15px 30px 15px">
        <h1 style="text-align: center">
          💩 {{getMonthName .Month}}
          <a style="text-decoration: none" href="/{{.Year}}"> {{ .Year }} </a>
          💩
        </h1>
        {{ template "daily_table" .TableData }}
      </div>
      <a id="download-button">
        <button style="margin-top: 20px">Save as Image</button>
      </a>
    </main>

    {{ template "footer" .Statistics }}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
      integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      window.addEventListener("hashchange", highlight);
      document.addEventListener("DOMContentLoaded", () => {
        initCurrentTime();
        listenToPoopEvent("daily", "{{.Year}}", "{{.Month}}");
        tableToImage("{{.Year}}", "{{.Month}}");
      });
    </script>
  </body>
</html>

{{ end }}
