{{ define "month" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ getMonthName .Month }} {{.Year}} | 💩 Log</title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💩</text></svg>"
        />
    </head>
    <body style="max-width: 80vw; margin: 0 auto">
        <header>
            <nav
                style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                "
            >
                {{ if gt .Month 1 }} {{ $prevMonth := add .Month -1 }}
                <a href="/{{.Year}}/{{ $prevMonth }}"
                    >{{ getMonthName $prevMonth }}</a
                >
                {{ else }}
                <a></a>
                {{ end }}
                <h1>{{getMonthName .Month}}</h1>
                {{ if lt .Month 12 }} {{ $nextMonth := add .Month 1 }}
                <a href="/{{.Year}}/{{ $nextMonth }}"
                    >{{ getMonthName $nextMonth }}</a
                >
                {{ else }}
                <a></a>
                {{ end }}
            </nav>
        </header>
        <main style="text-align: center; min-height: 65vh">
            <h1 style="text-align: center">
                💩 {{getMonthName .Month}} {{ .Year }} 💩
            </h1>
            <table
                style="margin: 0 auto; border-collapse: collapse; width: 50%"
            >
                <tr>
                    <th style="border: 1px solid black; font-weight: bold">
                        Day
                    </th>
                    <th style="border: 1px solid black; font-weight: bold">
                        Count
                    </th>
                </tr>
                {{ $sum := 0 }} {{ with .Data }} {{ range . }}
                <tr style="text-align: center">
                    <td style="border: 1px solid black">{{ .Period }}</td>
                    <td style="border: 1px solid black">{{ tai .Count }}</td>
                </tr>
                {{ $sum = add $sum .Count }} {{ end }} {{ end }}
                <tr style="text-align: center">
                    <td style="border: 1px solid black; font-weight: bold">
                        Total
                    </td>
                    <td style="border: 1px solid black; font-weight: bold">
                        {{ $sum }}
                    </td>
                </tr>
            </table>
        </main>
        <footer>
            <p style="text-align: center; font-weight: bold">
                Last 💩 on {{ .LastDataAt.Format "02 January 2006 at 15:04" }}
                GMT+7
            </p>
        </footer>
    </body>
</html>

{{ end }}
