{{ define "footer" }}
<footer id="poop-footer">
  {{ if not .LastPoopAt.IsZero }}
  <p style="text-align: center; font-weight: bold; margin: 0">
    Last 💩 dropped on
    <a
      href="/{{ .LastPoopAt.Year }}/{{ printf `%d` .LastPoopAt.Month }}#{{ .LastPoopAt.Day }}"
    >
      {{ .LastPoopAt.Format "02 January 2006 at 15:04" }} GMT+7
    </a>
  </p>
  {{ end }}

  {{ if or (not .LongestDayWithoutPoop.IsEmpty) (not .MostPoopInADay.IsEmpty) }}
  <div style="text-align: center; font-weight: bold; margin: 0.5em">
    Personal Records:
    <ul
      style="
        list-style: none;
        padding: 0;
        font-weight: normal;
        font-size: 0.95em;
        margin: 0;
      "
    >
    {{ if not .LongestDayWithoutPoop.IsEmpty }}
      <li style="margin: 0">
        Longest no-💩 streak: 
        <span style="font-size: 0.85em"
          >{{ .LongestDayWithoutPoop }}! (From
          <a
            href="/{{ .LongestDayWithoutPoop.StartTime.Year }}/{{ printf `%d` .LongestDayWithoutPoop.StartTime.Month }}#{{ .LongestDayWithoutPoop.StartTime.Day }}"
          >
            {{ .LongestDayWithoutPoop.StartTime.Format "02 January 2006 at 15:04" }}
          </a>
          to
          <a
            href="/{{ .LongestDayWithoutPoop.EndTime.Year }}/{{ printf `%d` .LongestDayWithoutPoop.EndTime.Month }}#{{ .LongestDayWithoutPoop.EndTime.Day }}"
          >
            {{ .LongestDayWithoutPoop.EndTime.Format "02 January 2006 at 15:04"
            }}</a
          >)
        </span>
      </li>
      {{ end }}
      {{ if not .MostPoopInADay.IsEmpty }}
      <li style="margin: 0">
        Most 💩s in a single day: 
        <span style="font-size: 0.85em"
          >{{ .MostPoopInADay.Count }} times (On
          <a
            href="/{{ .MostPoopInADay.Year }}/{{ .MostPoopInADay.Month }}#{{ .MostPoopInADay.Day }}"
          >
            {{ printf "%.02d %s %d" .MostPoopInADay.Day (getMonthName
            .MostPoopInADay.Month) .MostPoopInADay.Year }}</a
          >)
        </span>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</footer>

<script>
  const highlight = () => {
    const highlightedRows = document.querySelectorAll(
      "#poop-log > table > tbody > tr.highlighted"
    );
    highlightedRows.forEach((e) => e.classList.remove("highlighted"));
    const hash = location.hash.substring(1);
    if (hash) {
      const row = document.getElementById(hash);
      if (row) {
        row.classList.add("highlighted");
      }
    }
  };
  highlight();
  window.addEventListener("hashchange", highlight);
</script>
{{ end }}
